@import '../../../styles/vars';


.announceTitles h2 {
    @include title-news;
    transition: color 0.2s;
    margin-top: 10px;
}

.announceTitles h2:hover {
    color: $orange-secondary-hover;
}

.announceTitles p {
    @include title-mini;
}

.hoverZoomImage {
    filter: brightness(0.85);
    transition: filter 0.6s ease;
}

.hoverZoomImage:hover {
    filter: brightness(1);
}