@import '../../../styles/vars';

.newsCardFromList {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.cardFromListImgDiv {
    width: 100%;
}

.cardFromListTitleDiv {
    margin-left: 20px;
    width: 100%;

    h2 {
        @include title-news;

        transition: color 0.2s;

        &:hover {
            color: $orange-secondary-hover;
        }
    }

    p {
        @include title-mini;
        color: rgb(0, 0, 0);
    }

    h4 {
        margin-top: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
    }
}

.hoverZoomImage {
    filter: brightness(0.85);
    transition: filter 0.6s ease;

    &:hover {
        filter: brightness(1);
    }
}

@media (max-width: 690px) {

    .newsCardFromList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 35px;
    }

    .cardFromListTitleDiv {
        margin-top: 10px;
        margin-left: 0;

        h4 {
            margin-top: 10px;
        }
    }
}