@import '../../../styles/vars';

/* Breadcrumbs */
.hlebCroshki {
    display: flex;
    gap: 5px;
    font-family: "Futura";
    font-size: 20px;
}

.hlebCroshki a:first-child {
    color: $orange-secondary;
}

.hlebCroshki a:first-child:hover {
    color: $orange-secondary-hover;
    cursor: pointer;
}

.hlebCroshki .fa-chevron-right {
    align-self: center;
    font-size: 10px;
    font-weight: 200;
    color: #676767;
}

.hlebCroshki p:nth-child(3):hover {
    color: $orange-secondary-hover;
    cursor: pointer;
}

/* Article Title */
.articleTitle {
}

/* Article Date and Time */
.articleDateTime {
    display: flex;
    gap: 5px;
    @include title-mini;
    align-self: center;
}

.articleDateTime p {
    align-self: center;
}

/* Like/Dislike Buttons */
.likeBtn, .dislikeBtn {
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #666;
}

.likeBtn:hover, .dislikeBtn:hover {
    background-color: #f0f0f0;
    color: $orange-secondary-hover;
}

/* Spacer */
.articleSpacer {
    height: 0.5px;
    background-color: #0000003a;
}

/* Article Preview */
.articleMainPreview {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.articleMainPreview img {
    width: 90%;
    margin: 0 auto;
    display: block;
}

/* Article Main Context */
.articleMainContext {
    margin: 15px;
}

/* Tags */
.articleTagWrapper {
    margin-top: 15px;
    display: flex;
}

.articleTagWrapper p {
    font-family: "Futura";
    font-size: 20px;
}

.articleTagsContainer {
    display: flex;
    align-self: center;
    margin-left: 10px;
    gap: 10px;
}

.articleExactTag {
    padding: 5px;
    background-color: $orange-secondary;
    color: rgb(255, 255, 255);
}

/* Bottom Navigation */
.articleBottomNavigation {
    margin-block: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botnavPrevPost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    color: #676767;
    font-size: 16px;
}

.botnavPrevPost i {
    font-size: 13px;
    align-self: center;
    margin-top: 2px;

}

.botnavPrevPost:hover {
    color: $orange-secondary-hover;
    cursor: pointer;
}

.botnavNextPost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    color: #676767;
    font-size: 16px;
}

.botnavNextPost i {
    font-size: 13px;
    align-self: center;
    margin-top: 2px;
}

.botnavNextPost:hover {
    color: $orange-secondary-hover;
    cursor: pointer;
}

.allNewsBtn {
    padding: 8px 18px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Neris-Light';
    background-color: $orange-secondary;
}

.allNewsBtn:hover {
    background-color: $orange-secondary-hover;
}

/* Comments Count */
.commentsCount {
    margin-top: 15px;
    display: inline-block;
}

.commentsCount p {
    font-size: 18px;
}

/* Write Comment Input */
.commentsWriteComment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

.commentInput {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentInput:focus, .nameInput:focus {
    outline: 1px solid $orange-secondary-hover;
    border: none;
}

.commentInput, .nameInput {
    font-family: "Neris-Light";
}

.no-border-radius {
    border-radius: 0 !important;
}

.nameInput {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentSendBtn {
    font-family: "Neris-Light";
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding-inline: 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.commentSendBtn:hover {
    background-color: #3e8e41;
}


.commentsCommentDiv {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.commentLeft {
}

.commentRight {
    display: flex;
    flex-direction: column;
}

.commentTitle {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 15px;


}

.commentContext {
}

.commentReplyBtn {
    font-style: italic;
}


.replyToCommentDiv {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}


