@import "../styles/vars";

body {
    background-color: $background;
    background-image: url('/body-top-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}



@media (min-width: 320px) and (max-width: 970px) {
    .mainContentDiv {
        padding-inline: 20px;
        padding-block: 50px;
    }
}

@media (min-width: 970px) and (max-width: 1200px) {
    .mainContentDiv {
        padding-inline: 50px;
        padding-block: 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .mainContentDiv {
        padding-inline: 100px;
        padding-block: 50px;
    }
}

@media (min-width: 1500px) and (max-width: 1920px) {
    .mainContentDiv {
        padding-inline: 200px;
        padding-block: 50px;
    }
}

@media (min-width: 1920px) and (max-width: 2300px) {
    .mainContentDiv {
        padding-inline: 350px;
        padding-block: 50px;
    }
}

@media (min-width: 2300px) and (max-width: 2600px) {
    .mainContentDiv {
        padding-inline: 500px;
        padding-block: 50px;
    }
}

@media (min-width: 2600px) and (max-width: 3000px) {
    .mainContentDiv {
        padding-inline: 500px;
        padding-block: 50px;
    }
}

@media (min-width: 3000px) {
    .mainContentDiv {
        padding-inline: 600px;
        padding-block: 50px;
    }
}