@import "../styles/vars";

html {
    scroll-behavior: smooth;
}
body {
    background-color: $background;
    background-image: url('/body-top-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
