@import '../../styles/vars';

.org-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));

    img {
        max-width: 800px;
        min-width: 300px;
        height: auto;
    }
}

.org-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 1000;
        font-size: 2.25rem;
        text-align: center;
        line-height: 40px;
    }

}

@media (max-width: 500px) {

    .org-name {
        h1 {
            font-size: 1.5rem;
            line-height: 30px;

        }
    }
}