@import '../../styles/_vars.scss';

.wrappper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

/* ФОТО СТРУКТУРЫ */
.photoStructure {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

/* LEFT */
.contentLeft {
    width: 24%;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
}

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 18px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button :hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* RIGHT */
.contentRight {
    width: 76%;
}

.tabcontent {
    float: left;
    padding: 20px 20px;
    border: 1px solid #ccc;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 375px) {
    .mainContentDiv {
        padding-inline: 10px;
        padding-block: 50px;
    }
    .wrappper {
        h1 {
            font-size: 25px;
        }
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .mainContentDiv {
        padding-inline: 10px;
        padding-block: 50px;
    }
    .wrappper {
        h1 {
            font-size: 25px;
        }
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .mainContentDiv {
        padding-inline: 10px;
        padding-block: 50px;
    }
    .wrappper {
        h1 {
            font-size: 25px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mainContentDiv {
        padding-inline: 50px;
        padding-block: 50px;
    }
    .wrappper {
        h1 {
            font-size: 25px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .mainContentDiv {
        padding-inline: 90px;
        padding-block: 50px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .mainContentDiv {
        padding-inline: 200px;
        padding-block: 50px;
    }
}

@media (min-width: 2560px) {
    .mainContentDiv {
        padding-inline: 600px;
        padding-block: 50px;
    }
}