@tailwind base;
@tailwind utilities;
@tailwind components;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

caption, th {
    text-align: left;
}

