
.wrapperNewsDetail {

    background-color: rgb(255, 255, 255);
    border: rgba(0, 0, 0, 0.11) 0.2px solid;
    padding: 15px;

}


@media (min-width: 320px) and (max-width: 375px) {
    .mainContentDiv {
        padding-inline: 5px;
        padding-block: 50px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .mainContentDiv {
        padding-inline: 5px;
        padding-block: 50px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .mainContentDiv {
        padding-inline: 5px;
        padding-block: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mainContentDiv {
        padding-inline: 50px;
        padding-block: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .mainContentDiv {
        padding-inline: 90px;
        padding-block: 50px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .mainContentDiv {
        padding-inline: 200px;
        padding-block: 50px;
    }
}

@media (min-width: 2560px) {
    .mainContentDiv {
        padding-inline: 700px;
        padding-block: 50px;
    }
}